@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

::-webkit-scrollbar {
    display: none;
}

.menu_default {
    font-family: 'Poppins', sans-serif;
    min-width: 350px;
    color: #fff;
    position: absolute;
    padding: auto;
    background: rgba(33, 33, 33, 0.0);
    text-align: center;
}

.head_default {
    display: block;
    text-align: center;
    overflow: hidden;
    padding-bottom: 3px;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
    background: rgba(10, 10, 10, 0.9);
}

.menu_default .head_default {
    text-align: center;
    height: 28px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}

.menu_default .menu_default-items {
    max-height: 450px;
    overflow-y: auto;
    font-weight: 550;
}

.menu_default-items {
    margin-bottom: 2px;
}

.menu_default .menu_default-items .menu_default-item {
    display: block;
    padding: 7px;
    font-size: 13px;
    height: 16px;
    text-indent: 5px;
    margin-top: 5px;
    background: rgba(40, 40, 40, 0.8);
    color: rgb(202, 202, 202);
    border-radius: 5px;
    margin-bottom: 6px;
}

.menu_default .menu_default-items .menu_default-item.selected {
    background: rgba(31, 31, 31, 0.525);
    border: 1px solid rgba(55, 55, 55, 0.9);
    background: rgba(20, 20, 20, 0.9);
    color: rgba(243, 243, 243);
    letter-spacing: 0.2px;
    font-weight: 500;
}

.menu_default.align-left {
    left: 1%;
    top: 50%;
}

.menu_default.align-top-left {
    left: 40;
    top: 1;
}

.menu_default.align-top {
    left: 50%;
    top: 1;
}

.menu_default.align-top-right {
    right: 40;
    top: 1;
}

.menu_default.align-right {
    right: 1;
    top: 50%;
}

.menu_default.align-bottom-right {
    right: 40;
    bottom: 1;
}

.menu_default.align-bottom {
    left: 50%;
    bottom: 1;
    transform: translate(0, -50%);
}

.menu_default.align-bottom-left {
    left: 40;
    bottom: 1;
}

.menu_default.align-center {
    left: 50%;
    top: 50%;
}